*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 16px;
    font-family: 'Karla', sans-serif; 
}
.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 0.25fr 2fr 3fr 1fr 1fr;

}
.nav{
    background-color: white;
    display: grid;
    grid-template-columns: 0.75fr 4.5fr 4fr 0.75fr;
    grid-template-areas: 
    "na logo nav na2"
    ;
    .logo{
        grid-area: logo;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .nav-text{
        grid-area: nav;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        p{
            margin: 0.7vw;
            &:hover{
                cursor: pointer;
            }
        }
        span{
            border: 1.5px solid black;
            padding-right: 1.5vh;
            padding-left: 1.5vh;
            padding-top: 0.3vh;
            padding-bottom: 0.3vh;
            &:hover{
                background-color: snow;
                cursor: pointer;
            }
        }

    }

}
.head{
    background-color: 	#2d2640;
    overflow: visible;
    display: grid;
    grid-template-columns: 0.75fr 4.25fr 4.25fr 0.75fr;
    grid-template-areas: 
    "na text img na2"
    ;
    .head-img{
        position: relative;
        grid-area: img;
        overflow: visible;
        img{
            position: absolute;
            margin-top: 10vh;
            height: 20vw;
            width: auto;
        }
    }
    .head-text{
        grid-area: text; 
        color: snow;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        .bar{
            width: 15%;
            height: 1px;
            background-color: snow;
            margin: 1vh;
        }
        h1{
            font-family: 'DM Serif Display', serif;
            margin: 1vh;

        }
        p{
            margin: 1vh;
            padding-right: 3vw;
        }
        span{
            border: 1.5px solid white;
            padding-right: 1.5vh;
            padding-left: 1.5vh;
            padding-top: 0.3vh;
            padding-bottom: 0.3vh; 
        }
    }
}
.main{
    background-color: white;
    display: grid;
    grid-template-columns: 0.75fr 2.8fr 2.8fr 2.8fr 0.85fr;
    grid-template-areas: 
    "na main1 main2 main3 na2"
    ;
    .main_text1{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        grid-area: main1;
        padding-right: 3vw;
        padding-bottom: 3vh;
        .line{
          background-color: #2d2640;  
          width: 15%;
        height: 1.5px;
        margin: 1vh;
        }
    }
    .main_text2{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        grid-area: main2;
        padding-right: 3vw;
        padding-bottom: 3vh;
    }
    .main_text3{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        grid-area: main3;
        padding-bottom: 3vh;
    }
}
.banner{
    background-color: white;
    display: grid;
    grid-template-columns: 0.75fr 8.5fr 0.75fr;
    grid-template-areas: 
    "na banner na2"
    ;
    align-items: center;
    .wrraper{
        grid-area: banner;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: 80%;
        background-color: #2d2640;
        h3{
            color: snow;
            margin-left: 3vw;
        }
        p{
            color: snow;
            margin-right: 3vw;
            border: 1.5px solid white;
            padding-right: 1.5vh;
            padding-left: 1.5vh;
            padding-top: 0.3vh;
            padding-bottom: 0.3vh; 
        }
    }

}
.footer{
    background-color: #fafafa;
}
//font-family: 'DM Serif Display', serif;

@media all and (min-width: 1900px) {
    .container{
        height: 120vh;
    }
}