* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}

.container {
  display: -ms-grid;
  display: grid;
  height: 110vh;
  -ms-grid-rows: 0.25fr 2fr 3fr 1fr 1fr;
      grid-template-rows: 0.25fr 2fr 3fr 1fr 1fr;
}

.nav {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.75fr 4.5fr 4fr 0.75fr;
      grid-template-columns: 0.75fr 4.5fr 4fr 0.75fr;
      grid-template-areas: "na logo nav na2";
  z-index: 1;
}

.nav .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav .nav-text {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .nav-text p {
  font-size: .8vw;
  margin: 0.7vw;
}

.nav .nav-text p:hover {
  cursor: pointer;
}

.nav .nav-text span {
  border: 1.5px solid black;
  padding-right: 1.5vh;
  padding-left: 1.5vh;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
}

.nav .nav-text span:hover {
  background-color: #2d2640;
  color: white;
  cursor: pointer;
}

.head {
  background-color: #2d2640;
  overflow: visible;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.75fr 4.25fr 4.25fr 0.1fr 0.75fr;
      grid-template-columns: 0.75fr 4.25fr 4.25fr 0.1fr 0.75fr;
      grid-template-areas: "na text img img2 na2";
}

.head .head-img {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img;
  overflow: visible;
}

.head .head-img img {
  position: absolute;
  margin-top: 10vh;
  height: 22vw;
  width: auto;
  margin-left: 25vw;
}

.head .head-text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text;
  color: snow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2vw;
}

.head .head-text .bar {
  width: 15%;
  height: 1px;
  background-color: snow;
  margin: 1vh;
}

.head .head-text h1 {
  font-family: 'DM Serif Display', serif;
  margin: 1vh;
  font-size: 2vw;
}

.head .head-text p {
  margin: 1vh;
  padding-right: 3vw;
}

.head .head-text span {
  border: 1.5px solid white;
  padding-right: 1.5vh;
  padding-left: 1.5vh;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
}

.head .head-text span:hover {
  background-color: white;
  color: #2d2640;
  cursor: pointer;
}

.head .head_background_img {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: img2;
}

.head .head_background_img img {
  position: absolute;
  top: 0;
  right: 0;
  height: 25vw;
  width: auto;
}

.main {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.75fr 2.8fr 2.8fr 2.8fr 0.85fr;
      grid-template-columns: 0.75fr 2.8fr 2.8fr 2.8fr 0.85fr;
      grid-template-areas: "na main1 main2 main3 na2";
}

.main .main_text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main1;
  padding-right: 4vw;
  padding-bottom: 3vh;
  font-size: 1.2vw;
}

.main .main_text1 .line {
  margin-bottom: 2vh;
  background-color: #2d2640;
  width: 20%;
  height: 1.5px;
}

.main .main_text1 h3 {
  margin-bottom: 2vh;
  font-family: 'DM Serif Display', serif;
}

.main .main_text1 img {
  margin-bottom: 2vh;
  height: 7vw;
  width: auto;
}

.main .main_text1 h2 {
  margin-bottom: 2vh;
  font-size: 3vw;
  font-family: 'DM Serif Display', serif;
}

.main .main_text1 #img_main {
  position: absolute;
  top: 25%;
  left: 0;
  height: 22vw;
  width: auto;
}

.main .main_text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: main2;
  padding-right: 4vw;
  padding-bottom: 3vh;
  font-size: 1.2vw;
}

.main .main_text2 h3 {
  margin-bottom: 2vh;
  font-family: 'DM Serif Display', serif;
}

.main .main_text2 img {
  margin-bottom: 2vh;
  height: 7vw;
  width: auto;
}

.main .main_text3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: main3;
  padding-bottom: 3vh;
  font-size: 1.2vw;
}

.main .main_text3 h3 {
  margin-bottom: 2vh;
  font-family: 'DM Serif Display', serif;
}

.main .main_text3 img {
  margin-bottom: 2vh;
  height: 7vw;
  width: auto;
}

.banner {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.75fr 8.5fr 0.75fr;
      grid-template-columns: 0.75fr 8.5fr 0.75fr;
      grid-template-areas: "na banner na2";
  overflow: hidden;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .wrraper {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: banner;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  background-color: #2d2640;
}

.banner .wrraper h3 {
  width: 25%;
  color: snow;
  margin-left: 3vw;
  font-size: 2vw;
  font-family: 'DM Serif Display', serif;
}

.banner .wrraper p {
  color: snow;
  margin-right: 8vw;
  border: 1.5px solid white;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 0.4vh;
  padding-bottom: 0.4vh;
  font-size: 1.5vw;
  z-index: 1;
}

.banner .wrraper p:hover {
  background-color: white;
  color: #2d2640;
  cursor: pointer;
}

.banner .wrraper img {
  position: absolute;
  right: 6vw;
  height: 22vw;
  width: auto;
}

.footer {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .top_footer {
  margin-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 86%;
  border-bottom: 1.5px solid #837d87;
  padding-bottom: 2vh;
}

.footer .bottom_footer {
  margin-top: 4vh;
  width: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: .7vw;
}

.footer .bottom_footer p {
  margin-bottom: 1vh;
}

.footer .bottom_footer span {
  font-weight: bold;
  color: #837d87;
}

.no_img {
  display: none;
}

@media all and (min-width: 1900px) {
  .container {
    height: 140vh;
  }
  .head .head-img img {
    height: 20vw;
    width: auto;
  }
}

@media all and (max-width: 550px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .nav-text {
    display: none;
  }
  .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .head .head-img img {
    display: none;
  }
  .head .head-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5vh;
  }
  .head .head-text h1 {
    font-size: 2.2vh;
  }
  .head .head-text p {
    padding: 5vw;
  }
  .head .head-text span {
    margin-top: 10vh;
    padding-right: 1.5vh;
    padding-left: 1.5vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
  }
  .head .head_background_img {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: img2;
  }
  .head .head_background_img img {
    position: absolute;
    top: 35vh;
    right: 0;
    height: 25vh;
    width: auto;
  }
  .no_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .no_img img {
    width: 100%;
    height: auto;
    z-index: 1;
  }
  .container {
    display: -ms-grid;
    display: grid;
    height: 220vh;
    -ms-grid-rows: 0.25fr 2fr 3fr 1fr 1.2fr;
        grid-template-rows: 0.25fr 2fr 3fr 1fr 1.2fr;
  }
  .main {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main_text1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8vw;
    font-size: 1.2vh;
  }
  .main .main_text1 .line {
    margin-bottom: 2vh;
    background-color: #2d2640;
    width: 20%;
    height: 1.5px;
  }
  .main .main_text1 h3 {
    margin-bottom: 2vh;
    font-family: 'DM Serif Display', serif;
  }
  .main .main_text1 img {
    margin-bottom: 2vh;
    height: 7vh;
    width: auto;
  }
  .main .main_text1 h2 {
    margin-bottom: 2vh;
    font-size: 3vh;
    font-family: 'DM Serif Display', serif;
  }
  .main .main_text1 #img_main {
    position: absolute;
    top: 25%;
    left: 0;
    height: 22vw;
    width: auto;
  }
  .main .main_text2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8vw;
    font-size: 1.2vh;
  }
  .main .main_text2 h3 {
    margin-bottom: 2vh;
    font-family: 'DM Serif Display', serif;
  }
  .main .main_text2 img {
    margin-bottom: 2vh;
    height: 7vh;
    width: auto;
  }
  .main .main_text3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8vw;
    font-size: 1.2vh;
  }
  .main .main_text3 h3 {
    margin-bottom: 2vh;
    font-family: 'DM Serif Display', serif;
  }
  .main .main_text3 img {
    margin-bottom: 2vh;
    height: 7vh;
    width: auto;
  }
  .banner {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner .wrraper {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: banner;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 80%;
    background-color: #2d2640;
  }
  .banner .wrraper h3 {
    width: 90%;
    color: snow;
    margin-left: 3vw;
    padding-bottom: 1vh;
    font-size: 2vh;
    font-family: 'DM Serif Display', serif;
  }
  .banner .wrraper p {
    color: snow;
    margin-right: 0vw;
    border: 1.5px solid white;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
    font-size: 1.5vh;
    z-index: 1;
  }
  .banner .wrraper p:hover {
    background-color: white;
    color: #2d2640;
    cursor: pointer;
  }
  .banner .wrraper img {
    position: absolute;
    right: 0vh;
    height: 18vh;
    width: auto;
  }
  .footer {
    background-color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .top_footer {
    margin-top: 4vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 86%;
    border-bottom: 1.5px solid #837d87;
    padding-bottom: 2vh;
  }
  .footer .top_footer .media_img {
    padding-top: 2vh;
  }
  .footer .bottom_footer {
    margin-top: 4vh;
    width: 86%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1vh;
  }
  .footer .bottom_footer p {
    margin-bottom: 1vw;
  }
  .footer .bottom_footer span {
    font-weight: bold;
    color: #837d87;
  }
}
/*# sourceMappingURL=style.css.map */